#face-svg {
  @extend %section;
  position: relative;

  &.initial {
    display: none;
  }

  svg {
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 10000;
  }

  path {

    &.will-load {
      fill: hsla(0,0,0,0) !important;
      stroke: hsla(0, 0%, 40%, 0) !important;
      stroke-width: 1 !important;
      transition: all 1s linear;
    }

    &.loading {
      stroke-dashoffset: 0 !important;
      stroke: hsla(0, 0%, 40%, 1) !important;
    }

  }

}

