body, html {
  background: $BG_COLOR;
  color: $BLACK;
  font-family: Roboto, Hevlvetica, Arial, sans-serif;
}

%section {
  min-height: 100vh;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
