#face-svg {

  height: 100vh;
  width: 100%;
  max-width: 1080px;
  position: relative;

  &.initial {
    display: none;
  }

  svg {
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 10000;
  }

  path {

    &.will-load {
      fill: hsla(0,0,0,0) !important;
      stroke: hsla(0, 0%, 30%, 0) !important;
      stroke-width: 1 !important;
      transition: all 1s linear;
    }

    &.loading {
      stroke-dashoffset: 0 !important;
      stroke: hsla(0, 0%, 30%, 1) !important;
    }

  }

}

%right-side-triangle {
  padding-right: 15vw;
  width: 0;
  height: 0;
  border-bottom: 100vh solid transparent;
  border-left: 100vh solid transparent;
  position: absolute;
}

#triangle-block {
  @extend %right-side-triangle;
  right: 1px;
  border-bottom-color: #CCC;

  &::after {
    @extend %right-side-triangle;
    content: "";
    border-bottom-color: $BG_COLOR;
    right: -1px;
  }
}

